@{

}

@section Scripts {
    <script src="~/dist/reviews_index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}

<div id="app">
    <root></root>
</div>
