@{

}

@section Scripts {
    <script src="~/dist/app_index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}


<div id="app">
    <el-container>
        <el-header>
            @*<print-layer-header></print-layer-header>*@
        </el-header>
        <el-main>
            <router-view></router-view>
        </el-main>
        <el-footer>
            @*<print-layer-footer></print-layer-footer>*@
        </el-footer>
    </el-container>
</div>
